---
layout: default
title: Aktuality
ref: Posts
lang: cs
postindex: true
---

  <div class="container">
	<div class="row ">
		<div class="col s12">
			<div class="section">
			  <h2 class="header center orange-text">Aktuality</h2>
			</div>
		</div>
	</div>
	
    <div class="row">
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts limit:3 %}
        <div class="col s12 m6 l4">
			<div class="section">
			  <div class="icon-block">
                <h2 class="center orange-text"><i class="material-icons">{{ post.icon }}</i></h2>
                <h5 class="center light-green-text">{{ post.title }}</h5>
                <h6 class="center">{{ post.date | date: "%Y-%m-%d" }}</h6>
                <div class="flow-text">
					{{ post.excerpt }}
				</div>
                {% if post.detail %}
                <p class="center"><a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">ondemand_video</i>Vidět více</a></p>
                {% endif %}
			  </div>
			</div>
		</div>
        {% endfor %}
     </div>
    
    <div class="row">
        <h3 class="orange-text center">Starší příspěvky</h3>
        {% for post in posts offset:3 %}
        <div class="col s12">
			<div class="section">
                <h5 class="blue-text"><i class="material-icons left">{{ post.icon }}</i><span class="orange-text">{{ post.title }}</span></h5>
                <h6 class="">{{ post.date | date: "%Y-%m-%d" }}</h6>
                <div class="flow-text">
                    {{ post.excerpt }}
                </div>
                {% if post.detail %}
                <p><a href="{{ post.url }}" class="btn waves-effect waves-light orange"><i class="material-icons left">ondemand_video</i>Vidět více</a></p>
                {% endif %}                
			</div>
		</div>
        {% endfor %}       
	</div>
  </div>
