 <footer class="page-footer light-green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Naše skupina</h5>
          <p class="grey-text text-lighten-4">Jsme <a class="orange-text text-lighten-4" href="/o-nás/">skupina akademiků</a> z <a class="orange-text text-lighten-4" href="http://www.ksi.mff.cuni.cz">Katedry softwarového inženýrství</a> na <a class="orange-text text-lighten-4" href="http://www.mff.cuni.cz">Matematicko-fyzikální fakultě</a> <a class="orange-text text-lighten-4" href="http://www.cuni.cz">Univerzity Karlovy</a>. </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Spojte se s námi</h5>
          <ul>
            <li><a class="orange-text text-lighten-4" href="mailto:contact@xrg.cz">E-mail</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      
      </div>
    </div>
  </footer>
