 <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Our group</h5>
          <p class="grey-text text-lighten-4">We are <a class="orange-text text-lighten-3" href="/aboutus/">a group of Ph.D. students and researchers</a> from the <a class="orange-text text-lighten-4" href="https://www.ksi.mff.cuni.cz">Department of software engineering</a>, <a class="orange-text text-lighten-4" href="https://www.mff.cuni.cz">Faculty of Mathematics and Physics</a> at the <a class="orange-text text-lighten-4" href="https://www.cuni.cz">Charles University</a>.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="orange-text text-lighten-4" href="mailto:contact@xrg.cz">E-mail</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>
